
body {
    max-width: 100%;
    font-size: 1.2em;
    background-color: rgba(211, 211, 211, 0.5);
}

main {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;

}

article {
    border: black solid;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: white;
}

article h1, h2 {
    margin-left: 1em;
    margin-right: 1em;
}

article p {
    margin-left: 2em;
}

.footer {
    margin-top: 3em;
    position: absolute;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: darkgrey;
}

h1, h2, h3, h4, h5 {
    margin-left: 1em;
}

ul{
    list-style-type: none;
}

li {

    float: left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: #111111 solid;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 1em;
}

li a:hover {
    background-color: gray;
}

#hier {
    background-color: white;
    color: #111111;
}

#Picture_Smiley {
    width: 15%;
    margin-top: 1em;
    margin-left: 1em;
}

#h1home {
    margin-left: 1em;
}

#contact {
    float: right;
}

#AboutMeH1 {
    text-align: center;
    font-size: 50px;
}

#AboutMeSmiley {
    max-width: 100%;
    max-height: 100%;
    height: 95%;
    width: 95%;
    margin-left: 0.8em;
}
#ContactInformationUL{
    display: inline-block;
    margin-top: 0;
}
#ContactInformationUL li{
    margin-bottom: 5px;
    display: inline;
    clear: both;
}
.CV h2{
    margin-bottom: 0.3em;
}
.AboutMeMain {
    margin: 0 0;
}
.AboutMeMain article{
    margin: 1em;
}
.AboutMeMain p{
    margin-top: 0;

}
.AboutMeMain h4{
    margin-top: 0;

}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    background-color: rgba(255, 245, 245, 255);
}

@media screen and (max-width: 600px) {
    #AboutMeSmiley {
        display: none;
    }
    .container{
        grid-template-columns: none;
    }
}
